nav {
  display: flex;
}

h1 {
  flex: 1;
  text-align: center;
  color: whitesmoke;
  margin-left: -230px;
}

.mat-list-item a {
  color: #1dffab;
}

.mat-list-item a.active {
  text-decoration: underline;
  color: #ff3f64;
}

.logo {
  margin-bottom: 10px;
}

.logo img {
  transform: translate(0, 8px);
  width: 50px;
}

:host,mat-sidenav-container, mat-sidenav-content{
  height: 100%;
}
