<mat-sidenav-container [alg-html-element-settings]="htmlOptions">
  <mat-sidenav #sideNav>
    <mat-list (click)="sideNav.close()">
      <mat-list-item><a routerLinkActive="active" routerLink="pets">Pets</a></mat-list-item>
      <mat-list-item><a routerLinkActive="active" routerLink="shop">Shop</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="logo">
         <button mat-icon-button (click)="sideNav.toggle()"><mat-icon>reorder</mat-icon></button>
        <img src="assets/pet/1.png"/>
      </span>
      <h1>Welcome to {{ title }}!</h1>
      <span style="float: right">
        <alg-button [uiElementModel]="linkBtn" routerLink="login" class="loginLink"></alg-button>
      <clock></clock>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
