/* You can add global styles to this file, and also import other style files */
img#logo{
  position: relative;
  margin: auto;
  margin-top: 100px;
  width:300px;
  display: block;
}
button{display:block;font-size:2em;padding:10px 200px;margin:auto; width:80%;}
#output {font-size:3em; text-align:center; color:gold}
